<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njau.agricultural_assistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" ></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".UserinfoActivity"></activity>
        <activity android:name=".MineActivity"></activity>
        <activity android:name=".NyywActivity"></activity>
        <activity android:name=".NyzcActivity"></activity>
        <activity android:name=".NyjsActivity"></activity>
        <activity android:name=".SczxActivity"></activity>
        <activity android:name=".YhscActivity"></activity>
        <activity android:name=".NewsDetail"></activity>
        <activity android:name=".Video"
            android:hardwareAccelerated="true"  ></activity>
        <activity android:name=".Resetpwd"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".NywkActivity"></activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencen1106790452" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
    </application>
</manifest>